In [ ]:
# Esse notebook tem o intuito de sanar os quetionamento levantados no desafio proposto pela empresa Seazone
# Os dados necessários para a resolução desse desafio foram proporcionados pela empresa

In [1]:
# Importação das bibliotas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
# Carregando a base de dados e tendo o primeiro contato com o formato dos dois arquivos
base1 = pd.read_csv('desafio_details.csv')
base2 = pd.read_csv('desafio_priceav.csv')
base1

,Unnamed: 0,airbnb_listing_id,suburb,ad_name,number_of_bedrooms,number_of_bathrooms,star_rating,is_superhost,number_of_reviews
0,0,31389869,Jurerê,Lindo Apartamento em Jurerê,2.0,2.0,5.0,False,15.0
1,1,40010667,Canasvieiras,"Residencial Arruda, 1 quarto",1.0,1.0,NaN,False,0.0
2,2,38905997,Ingleses,Apartamento NOVO Completo - Moderno e Sofisticado,1.0,1.0,4.5,True,13.0
3,3,22343656,Ingleses,06- Apartamento 02 habitaciones,2.0,1.0,5.0,True,28.0
4,4,18328184,Canasvieiras,"Apto 2 quartos em Canasvieiras, Florianopolis!",2.0,1.0,5.0,True,35.0
...,...,...,...,...,...,...,...,...,...
4686,4686,34392248,Ingleses,Lindo e acogedor apto en zona norte de la Isla,2.0,2.0,NaN,False,0.0
4687,4687,44538969,Canasvieiras,"Ótimo apto no centro de Canas, a 450m do mar",1.0,1.0,NaN,False,0.0
4688,4688,16609826,Jurerê,Agradável Apartamento em Jurerê Internacional,3.0,2.0,5.0,True,30.0
4689,4689,31239515,Canasvieiras,Cobertura no centro 3 dormitorios com AR.,3.0,2.0,NaN,True,2.0
4690,4690,5078051,Ingleses,APARTAMENTO A 400 M DA PRAIA,2.0,2.0,5.0,False,18.0

In [12]:
# Carregando a segunda base de dados
base2

,Unnamed: 0,Unnamed: 0.1,airbnb_listing_id,booked_on,date,price_string,occupied
0,0,2148,40201349,blank,2020-11-15,250.0,0
1,1,2159,40201349,blank,2020-11-26,250.0,0
2,2,2160,40201349,blank,2020-11-27,250.0,0
3,3,2173,40201349,blank,2020-12-10,250.0,0
4,4,2226,40201349,blank,2021-02-01,250.0,0
...,...,...,...,...,...,...,...
354515,64596,4298115,40199361,blank,2021-03-26,200.0,0
354516,64597,4298116,40199361,blank,2021-03-27,200.0,0
354517,64598,4298117,40199361,2020-09-14 00:00:00,2021-03-28,250.0,1
354518,64599,4298118,40199361,2020-09-14 00:00:00,2021-03-29,250.0,1
354519,64600,4298119,40199361,2020-12-03 00:00:00,2021-03-30,200.0,1

In [ ]:
# A partir de uma primeira análise dos dados, já vou possível concluir que algumas colunas são desnessárias
# Unnamed:0, Unnamed:0, Unnamed:1, occupied
# Também cheguei a conclusão que unir as duas tabelas possivelmente facilitará uma melhor compreensão dos dados

In [10]:
# Tratando os dados da primeira tabela
base1_Drop = base1.drop(columns=["Unnamed: 0"])
base1_Drop

,airbnb_listing_id,suburb,ad_name,number_of_bedrooms,number_of_bathrooms,star_rating,is_superhost,number_of_reviews
0,31389869,Jurerê,Lindo Apartamento em Jurerê,2.0,2.0,5.0,False,15.0
1,40010667,Canasvieiras,"Residencial Arruda, 1 quarto",1.0,1.0,NaN,False,0.0
2,38905997,Ingleses,Apartamento NOVO Completo - Moderno e Sofisticado,1.0,1.0,4.5,True,13.0
3,22343656,Ingleses,06- Apartamento 02 habitaciones,2.0,1.0,5.0,True,28.0
4,18328184,Canasvieiras,"Apto 2 quartos em Canasvieiras, Florianopolis!",2.0,1.0,5.0,True,35.0
...,...,...,...,...,...,...,...,...
4686,34392248,Ingleses,Lindo e acogedor apto en zona norte de la Isla,2.0,2.0,NaN,False,0.0
4687,44538969,Canasvieiras,"Ótimo apto no centro de Canas, a 450m do mar",1.0,1.0,NaN,False,0.0
4688,16609826,Jurerê,Agradável Apartamento em Jurerê Internacional,3.0,2.0,5.0,True,30.0
4689,31239515,Canasvieiras,Cobertura no centro 3 dormitorios com AR.,3.0,2.0,NaN,True,2.0
4690,5078051,Ingleses,APARTAMENTO A 400 M DA PRAIA,2.0,2.0,5.0,False,18.0

In [14]:
# Tratando os dados da segunda tabele
base2_Drop = base2.drop(columns=["Unnamed: 0","Unnamed: 0.1",])
base2_Drop

,airbnb_listing_id,booked_on,date,price_string,occupied
0,40201349,blank,2020-11-15,250.0,0
1,40201349,blank,2020-11-26,250.0,0
2,40201349,blank,2020-11-27,250.0,0
3,40201349,blank,2020-12-10,250.0,0
4,40201349,blank,2021-02-01,250.0,0
...,...,...,...,...,...
354515,40199361,blank,2021-03-26,200.0,0
354516,40199361,blank,2021-03-27,200.0,0
354517,40199361,2020-09-14 00:00:00,2021-03-28,250.0,1
354518,40199361,2020-09-14 00:00:00,2021-03-29,250.0,1
354519,40199361,2020-12-03 00:00:00,2021-03-30,200.0,1

In [15]:
# Unindo os dois datasets utilizando a função merge
base_merged = pd.merge(base1_Drop, base2_Drop, on="airbnb_listing_id")
base_merged

,airbnb_listing_id,suburb,ad_name,number_of_bedrooms,number_of_bathrooms,star_rating,is_superhost,number_of_reviews,booked_on,date,price_string,occupied
0,31389869,Jurerê,Lindo Apartamento em Jurerê,2.0,2.0,5.0,False,15.0,2020-12-04 00:00:00,2020-12-04,270.0,1
1,31389869,Jurerê,Lindo Apartamento em Jurerê,2.0,2.0,5.0,False,15.0,2020-12-04 00:00:00,2020-12-05,270.0,1
2,31389869,Jurerê,Lindo Apartamento em Jurerê,2.0,2.0,5.0,False,15.0,2020-12-04 00:00:00,2020-12-06,270.0,1
3,31389869,Jurerê,Lindo Apartamento em Jurerê,2.0,2.0,5.0,False,15.0,2020-12-04 00:00:00,2020-12-07,270.0,1
4,31389869,Jurerê,Lindo Apartamento em Jurerê,2.0,2.0,5.0,False,15.0,2020-12-04 00:00:00,2020-12-08,270.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
354515,40277915,Ingleses,2 dormitório a 100 metros do mar (202B),2.0,2.0,NaN,False,0.0,2021-02-28 00:00:00,2021-03-26,150.0,1
354516,40277915,Ingleses,2 dormitório a 100 metros do mar (202B),2.0,2.0,NaN,False,0.0,2021-02-28 00:00:00,2021-03-27,150.0,1
354517,40277915,Ingleses,2 dormitório a 100 metros do mar (202B),2.0,2.0,NaN,False,0.0,2021-02-28 00:00:00,2021-03-28,150.0,1
354518,40277915,Ingleses,2 dormitório a 100 metros do mar (202B),2.0,2.0,NaN,False,0.0,2021-02-28 00:00:00,2021-03-29,150.0,1
354519,40277915,Ingleses,2 dormitório a 100 metros do mar (202B),2.0,2.0,NaN,False,0.0,2021-02-28 00:00:00,2021-03-30,150.0,1